@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #151515;
  border-bottom: 2px solid #272727;
}

header h1{
  margin-left: 215px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 150%;
  letter-spacing: 25px;
  color: rgba(101, 24, 180, 1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 120px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border: none;
  margin-right: 20px;
  padding-bottom: 5px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
  position: relative;
}

nav li::after {
  display: flex;
  content: ' ';
  width: 0%;
  height: 2px;
  background-color: #20a6ff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

nav li:hover::after {
  width: 100%;
}

nav li:last-child {
  margin-right: 0;
}

.whey-class {
  width: 60px;
  color: #FFF;
}

.creatine-class {
  width: 80px;
  color: #FFF;
}

.outros-class{
  width: 65px;
  color: #FFF;
}

a {
  text-decoration: none;
  color: inherit;
}

.slider {
  margin: 0 auto;
  border: 2px solid #20a6ff;
  border-radius: 10px;
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
  position: absolute;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -25px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #FFF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background-color: #FFF;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

.navigation div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation {
  position: absolute;
  width: 800px;
  margin-top: 375px;
  display: flex;
  justify-content: center;
}

.navigation div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~.navigation .auto-btn1 {
  background-color: #FFF;
}

#radio2:checked ~.navigation .auto-btn2 {
  background-color: #FFF;
}

#radio3:checked ~.navigation .auto-btn3 {
  background-color: #FFF;
}

#slider-container {
  height: 425px;
  width: 100%;
  padding-top: 25px;
  background-color: #1b1b1b;
  border-bottom: 2px solid #272727;
}

#Whey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  background-color: #151515;
}

#Whey h1{
  color: #00d2df;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
}

#Creatina {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
}

#Creatina h1{
  color: #00d2df;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
}

#Outros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
}

#Outros h1{
  color: #00d2df;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
}

#linha-horizontal {
   
   width: 300px;
   height: 1px;
   border: 1px solid #000;
   background-color: #00d2df;
}

.body-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: #151515;
}

.product-grid {
  width: 2000px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product-grid .grid {
  position: relative;
  padding: 10px;
  width: 400px;
  background-color: #1b1b1b;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;  
  transition: 0.5s;
}

.product-grid .grid img {
  transition: 0.5s;
  padding-left: 100px;
}

.product-grid .grid h1 {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

.product-grid .grid .grid-content {
  padding: 20px;
}

.product-grid .grid .grid-content p{
  color: #666;
  transition: 0.5s;
}

.product-grid .grid .grid-content a{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #FFF;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  margin-top: 20px;
}

.product-grid .grid:hover {
  background-color: rgba(101, 24, 180, 1);
  color:rgba(23, 48, 218, 1);
  margin-top: -30px;
  box-shadow: 2px 20px 25px #00d2df;
  border-color: #00d2df;

}

.product-grid .grid:hover p {
  color: black;
}

.product-grid .grid:hover a {
  color: black;
  background-color: white;
}

.product-grid .grid h1 {
  font-weight: lighter;
}

.product-grid .grid:hover h1 {
  color: black;
  font-weight:normal;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.footer_class{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(27, 27, 27);
  border-top: 2px solid #272727;

}

.footer_p_name {
  display: inline-block;
  color: rgba(101, 24, 180, 1);
  font-family: 'Montserrat', sans-serif;
  padding-left: 6px;
}

.footer_p {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}